#!/usr/bin/env bash

# Based on https://github.com/mathiasbynens/dotfiles/blob/main/.exports

# Set an SSH key for connecting to OAR jobs
export OAR_JOB_KEY_FILE=~/.ssh/id_rsa_for_oar

# Colored GCC warnings and errors
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# Set default editors
export EDITOR=nano

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8'

# Increase Bash history size (default is 500).
export HISTSIZE=2048
export HISTFILESIZE=${HISTSIZE}

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth'

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

# Highlight section titles in manual pages.
export LESS_TERMCAP_md=$(tput bold; tput setaf 6)  # cyan

# # Don't clear the screen after quitting a manual page.
# export MANPAGER='less -X'
