#!/usr/bin/env bash

# Based on https://github.com/mathiasbynens/dotfiles/blob/main/.exports

# Colored GCC warnings and errors
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# Set default editors
export EDITOR=nano

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8'

# Increase Bash history size (default is 500).
export HISTSIZE=2048
export HISTFILESIZE=${HISTSIZE}

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth'

# Highlight section titles in manual pages.
export LESS_TERMCAP_md=$(tput bold; tput setaf 6)  # cyan

# # Don't clear the screen after quitting a manual page.
# export MANPAGER='less -X'

# Bash: safer glob expansion
# https://dwheeler.com/essays/filenames-in-shell.html
export GLOBIGNORE='-*:.:..'
